.products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 465px;
  margin: 20px;
  padding: 10px;
}
.img {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  height: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  height: 200px;
  padding-top: 20px;
}

.AddCartButton {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  border-color: none;
  background-color: black;
  color: white;
}
.DeleteCartButton {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  border-color: none;
  background-color: black;
  color: white;
}
